$color-primary: rgba(255, 96, 10, 0.85);
$color-primary-light:#fe730a;
$color-primary-dark: rgba(253, 65, 17, 0.85);

$color-dark-light:#1f1f1f;

$color-white: rgba(255, 255, 255, 0.85);
$color-black: #555;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-secondary:#55c57a;
$color-secondary-light:#7ed56f;
$color-secondary-dark:#28b485;

$color-grey-light:rgb(211, 212, 220);
$color-grey:rgb(121, 124, 125);
$color-grey-dark:rgb(121, 124, 125);

//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

//button fontsize
$default-font-size:1.6rem;